.about-section{
    display: grid;
    grid-template-columns: 30% 40%;
    justify-content: space-evenly !important;
    margin: 80px 0 0px 0;
    
}
.about-section .text-section{
    text-align: justify;
    padding: 150px 20px 0 20px;
    align-items: center;
}
.about-section .text-section h1{
    font-family: "Special Elite", cursive;
    font-size: 60px;
}
.about-section .text-section p{
    line-height: 1.9rem;
    font-family: 'Martel Sans', sans-serif;
    font-size: 18px;
}
.about-section .image-section img{
    width: 500px;
}

@media (max-width: 1454px){
    .about-section{
      margin:80px 0px;
    }
  }
@media (max-width: 1238px){
    .about-section{
      grid-template-columns: auto;
      justify-content: center;
      text-align: center;
    }
    .about-section .text-section{
        padding: 5%;
        text-align-last: center;
    }
    .about-section .image-section img{
        width: 90%;
    }
}