.about-section{
    display: grid;
    grid-template-columns: 30% 40%;
    justify-content: space-around !important;
    padding: 80px 0 30px 0;
    
}
.about-section .text-section{
    text-align: justify;
    padding: 50px 20px 50px 20px;
    align-items: center;
    background-color: rgba(0,218,159,0.5);
    border-radius: 48px;
}
.about-section .text-section h1{
    font-family: "Special Elite", cursive;
    font-size: 60px;
}
.about-section .text-section p{
    line-height: 1.9rem;
    font-family: 'Martel Sans', sans-serif;
    font-family: 'Dekko', cursive;
    font-size: 24px;
}
.about-section .image-section{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.about-section .image-section img{
    width: 550px;
}

@media (max-width: 1454px){
    .about-section{
      padding:10px 0px;
    }
  }
@media (max-width: 1238px){
    .about-section{
      grid-template-columns: auto;
      justify-content: center;
      text-align: center;
    }
    .about-section .text-section{
        padding: 5%;
        text-align-last: center;
    }
    .about-section .image-section img{
        width: 90%;
    }
    .about-section .text-section h1{
        font-size: 50px;
    }
}