.contact-section{
    display: grid;
    grid-template-columns: 40% auto;
    height: 600px;
    margin: 60px 100px;
    box-shadow: 0px 2px 5px grey;
    border-radius: 15px;
    overflow: hidden;
}
.colored{
    background-color: rgba(95,95,255,1);
    padding: 40px;
    color: white;
}
.colored h2{
    font-family: "Special Elite", cursive;
    font-size: 50px;
}
.non-colored{
    padding: 40px;
    background-color: #f8f9fa;
}
.non-colored h2{
    font-family: "Special Elite", cursive;
    font-size: 50px;
}