.contact-section{
    display: grid;
    grid-template-columns: 40% auto;
    height: 600px;
    margin: 60px 100px;
    box-shadow: 0px 2px 5px grey;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Martel Sans', sans-serif;
    font-weight: bold;
}
.colored{
    background-color: rgb(3,0,71);
    padding: 40px;
    color: white;
}
.colored h2{
    font-family: "Special Elite", cursive;
    font-size: 50px;
}
.non-colored{
    padding: 40px;
    background-color: #f8f9fa;
}
.non-colored h2{
    font-family: "Special Elite", cursive;
    font-size: 50px;
}



.button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(95,95,255);
    padding: 10px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform:capitalize;
    transition: all 0.2s ease-in-out;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
  }
  
  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(95, 95, 255, 0.8);
  }
  .fa-linkedin{
      color: rgb(95,95,255);
  }
