.edu-section h1{
    font-family: "Special Elite", cursive;
    font-size: 60px;
    padding-left: 70px;
}
.edu-section{
    padding: 0px 150px;
    /* font-family: 'Martel Sans', sans-serif; */
    font-family: 'Dekko', cursive;
    font-size: 24px;
}


/* ///////////Timeline/////////// */

.timeline {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
  }
  .timeline__event {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 10px 0;
    border-radius: 6px;
    align-self: center;
    width: 70vw;
  }
  .timeline__event:nth-child(2n+1) {
    flex-direction: row-reverse;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__date {
    border-radius: 0 6px 6px 0;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__content {
    border-radius: 6px 0 0 6px;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #030047;
    position: absolute;
    top: 0%;
    left: 50%;
    right: auto;
    z-index: -1;
    transform: translateX(-50%);
    -webkit-animation: fillTop 2s forwards 4s ease-in-out;
            animation: fillTop 2s forwards 4s ease-in-out;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #030047;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    -webkit-animation: fillLeft 2s forwards 4s ease-in-out;
            animation: fillLeft 2s forwards 4s ease-in-out;
  }
  .timeline__event__title {
    font-size: 1.5rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 700;
    color: #030047;
    letter-spacing: 1px;
  }
  .timeline__event__content {
    padding: 20px;
    box-shadow: 0 3px 6px -2px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: #fff;
    width: calc(80vw - 84px);
    border-radius: 0 6px 6px 0;
  }
  .timeline__event__date {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    background: #5f5fff;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 20px;
    border-radius: 6px 0 0 6px;
  }
  .timeline__event__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
    align-self: center;
    margin: 0 20px;
    background: #5f5fff;
    border-radius: 100%;
    width: 40px;
    box-shadow: 0 3px 6px -2px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 40px;
    height: 40px;
    position: relative;
  }
  .timeline__event__icon i {
    font-size: 32px;
  }
  .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #5f5fff;
    position: absolute;
    top: 0%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: fillTop 2s forwards 4s ease-in-out;
            animation: fillTop 2s forwards 4s ease-in-out;
  }
  .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #5f5fff;
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation: fillLeftOdd 2s forwards 4s ease-in-out;
            animation: fillLeftOdd 2s forwards 4s ease-in-out;
  }
  .timeline__event__description {
    flex-basis: 60%;
  }
  .timeline__event__description p{
    margin-top: 20px;
  }
  .timeline__event--type2:after {
    background: #555ac0;
  }
  .timeline__event--type2 .timeline__event__date {
    color: #fff;
    background: #5f5fff;
  }
  .timeline__event--type2:nth-child(2n+1) .timeline__event__icon:before, .timeline__event--type2:nth-child(2n+1) .timeline__event__icon:after {
    background: #87bbfe;
  }
  .timeline__event--type2 .timeline__event__icon {
    background:#5f5fff;
    color: #fff;
  }
  .timeline__event--type2 .timeline__event__icon:before, .timeline__event--type2 .timeline__event__icon:after {
    background: #87bbfe;
  }
  .timeline__event--type2 .timeline__event__title {
    color: #555ac0;
  }
  .timeline__event--type3:after {
    background: #030047;
  }
  .timeline__event--type3 .timeline__event__date {
    color: #fff;
    background-color: #030047;
  }
  .timeline__event--type3:nth-child(2n+1) .timeline__event__icon:before, .timeline__event--type3:nth-child(2n+1) .timeline__event__icon:after {
    background: #030047;
  }
  .timeline__event--type3 .timeline__event__icon {
    background: #030047;
    color: #fff;
  }
  .timeline__event--type3 .timeline__event__icon:before, .timeline__event--type3 .timeline__event__icon:after {
    background: #030047;
  }
  .timeline__event--type3 .timeline__event__title {
    color: #030047;
  }
  .timeline__event:last-child .timeline__event__icon:before {
    content: none;
  }
  
  @media (max-width: 786px) {
    .timeline__event {
      flex-direction: column;
      align-self: center;
    }
    .timeline__event__content {
      width: 100%;
    }
    .timeline__event__icon {
      border-radius: 6px 6px 0 0;
      width: 100%;
      margin: 0;
      box-shadow: none;
    }
    .timeline__event__icon:before, .timeline__event__icon:after {
      display: none;
    }
    .timeline__event__date {
      border-radius: 0;
      padding: 20px;
    }
    .timeline__event:nth-child(2n+1) {
      flex-direction: column;
      align-self: center;
    }
    .timeline__event:nth-child(2n+1) .timeline__event__date {
      border-radius: 0;
      padding: 20px;
    }
    .timeline__event:nth-child(2n+1) .timeline__event__icon {
      border-radius: 6px 6px 0 0;
      margin: 0;
    }
  }
  @-webkit-keyframes fillLeft {
    100% {
      right: 100%;
    }
  }
  @keyframes fillLeft {
    100% {
      right: 100%;
    }
  }
  @-webkit-keyframes fillTop {
    100% {
      top: 100%;
    }
  }
  @keyframes fillTop {
    100% {
      top: 100%;
    }
  }
  @-webkit-keyframes fillLeftOdd {
    100% {
      left: 100%;
    }
  }
  @keyframes fillLeftOdd {
    100% {
      left: 100%;
    }
  }


  @media (max-width: 885px){
    .edu-section{
      padding: 0px 10px;
    }
    .edu-section h1{
      padding-left: 10px;
  }
    .timeline__event{
     width: 90%;
    }
  }
  @media (max-width: 410px){
    .edu-section h1{
      font-size: 50px;
      text-align:center;
    }
  }