.footer-section {
    height: 300px;
    background-color:#1a237e;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    justify-content: center !important;
    align-items: center;
    text-align: center;
}
.copyright{
    color: white !important;
    display: inline-block;
    text-align: center;
    margin: 200px 0 30px 0 !important;
    line-height: 2rem;
}