.header-section {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 120px 100px;
  
}
.header-section h5 {
  margin-top: 20px;
}
.first-name {
  color: #5f5fff;
}
.header-section .text-section .sub-div {
  display: grid;
  grid-template-columns: 30% auto;
}
.header-section .text-section .sub-div ul {
  list-style-type: none;
  padding-left: 0px !important;
}
.header-section .text-section .sub-div .social {
  font-size: 30px;
  text-align: left;
}
.header-section .text-section .sub-div ul li {
  margin: 30px 0;
}
.header-section .text-section {
  padding-top: 50px;
}
.header-section .text-section h1 {
  font-size: 80px;
  /* font-family: "Baloo Tammudu 2", cursive; */
  /* font-family: "Courgette", cursive; */
  /* font-family: "Itim", cursive; */
  /* font-family: "Kalam", cursive; */
  /* font-family: "Martel Sans", sans-serif; */
  /* font-family: "Merienda", cursive; */
  /* font-family: "Patrick Hand", cursive; */
  /* font-family: "Satisfy", cursive; */
  font-family: "Special Elite", cursive;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Titillium Web", sans-serif; */
  /* font-family: 'Gorditas', cursive; */
  /* font-family: 'Sacramento', cursive; */
  /* font-family: 'Salsa', cursive; */
  color: #030047;
  letter-spacing: -4px !important;
  
}
.header-section .text-section p {
  /* font-family: 'Martel Sans', sans-serif; */
  font-family: "Dekko", cursive;
  font-size: 24px;
}
.header-section .text-section h3 {
  /* font-family: 'Martel Sans', sans-serif; */
  font-family: "Dekko", cursive;
  font-size: 30px;
}

.header-section .text-section .text {
  font-weight: 600;
  padding: 0;
  padding-right: 4px;
  border-right: 2px solid #747474;
  animation: blink 0.75s infinite;
}
.header-section .image-section {
  margin-left: 200px !important;
}
.header-section .image-section img {
  width: 750px;
}
/* .button {
  font-family: "Space Mono", monospace;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(95, 95, 255);
  padding: 5px 20px !important;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  outline: none;
  border: none;
  font-size: 24px !important;
  font-weight: 500;
  margin-top: 30px;
} */
.main-content button {
  margin-top: 30px;
  color: white;
  font-family: 'Space Mono', monospace;
}
/* Slide button styling */
.slide {
  width: 180px;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.slide i {
  opacity: 0;
  font-size: 13px;
  transition: 0.2s;
  position: absolute;
  right: 20px;
  top: 21px;
  transition: transform 1;
}

.slide div {
  transition: transform 0.8s;
}

.slide:hover div {
  transform: translateX(-6px);
}

.slide::after {
  content: "";
  background-color: #00da9f;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}

.slide:hover i {
  opacity: 1;
  transform: translateX(-6px);
}
/* End of Slide Button  */

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(95, 95, 255, 0.8);
}
.fa-linkedin {
  color: #0077b5;
}
.fa-envelope{
  color: #FF616D;
}
.fa-github{
  color: black;
}
/* //scroll Icon//


.icon-scroll,
.icon-scroll:before{
  position: absolute;
}
.icon-scroll{
  width: 40px;
  height: 70px;
  margin-left: 60px;
  margin-top: 60px;
  box-shadow: inset 0 0 0 2.5px #030047;
  border-radius: 25px;
}
.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #030047;
  margin-left: 16px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(46px);
  }
} */
.blue {
  color: #4480ff;
}
.yellow {
  color: #edb32c;
}
.red {
  color: #f44336;
}

@media (max-width: 1454px) {
  .header-section {
   padding: 100px 60px 20px;
  }
  .separator{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
}
@media (max-width: 1358px) {
  .header-section {
    padding: 100px 60px 20px;
  }
  .header-section .text-section h1 {
    font-size: 70px;
  }
  .header-section .image-section {
    margin-left: 220px !important;
  }
}
@media (max-width: 1238px) {
  .header-section {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
  }
  .header-section .text-section h1 {
    text-align: center;
    font-size: 80px;
  }
  .header-section .text-section .sub-div {
    display: grid;
    grid-template-columns: 10% auto;
  }
  .header-section .image-section {
    margin-top: 50px;
  }
  .header-section .image-section {
    margin-left: 0px !important;
  }

  /* .icon-scroll{
  display: none !important;
} */
  .header-section .image-section img {
    width: 400PX;
  }
}
@media (max-width: 992px) {
  .social {
    display: none;
  }
  .header-section .text-section {
    padding-top: 10px;
  }
  .header-section .text-section .sub-div {
    grid-template-columns: 100%;
  }
}
@media (max-width: 575px) {
  .main-content h3 {
    height: 40px;
    margin-bottom: 20px;
  }
}
@media (max-width: 554px) {
  .header-section .text-section h1 {
    font-size: 55px;
  }
}
