.nav-item{
    font-size: 30px;
    /* font-family: 'BenchNine', sans-serif; */
    /* font-family: 'Cabin Sketch', cursive; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Fredericka the Great', cursive; */
    /* font-family: 'Gloria Hallelujah', cursive; */
    /* font-family: 'Handlee', cursive; */
    /* font-family: 'Libre Barcode 128 Text', cursive; */
    /* font-family: 'Londrina Shadow', cursive; */
    /* font-family: 'Monoton', cursive; */
    font-family: 'Nanum Pen Script', cursive;
    /* font-family: 'Neucha', cursive; */
    /* font-family: 'Patrick Hand', cursive; */
    /* font-family: 'Special Elite', cursive; */
    /* font-family: 'Train One', cursive; */
    color: #030047 !important;
}
.nav-item:hover{
    color: rgb(95,95,255) !important;
}
.mr-auto {
    margin-right: 0 !important;
    width: 700px;
    justify-content: space-evenly;
    align-items: right;
    margin-left: 290px;
}
#basic-navbar-nav{
    align-items: center;
    justify-content: space-evenly;
}
.brand{
   font-family: 'Train One', cursive;
    font-size: 30px;
    font-weight: bold;
}
.brand-custom{
    color: #5f5fff;
}
.nav-section{
    top: 0;
    width: 100%;
    padding:0px 175px;
    position: fixed;
    z-index: 2;
    background-color: rgba(255,255,255,.97);
    
}

.add-shadow{
    transition: 0.5s ease;
    box-shadow: 0 0 5px grey;
    background-color: rgba(226, 231, 245, 0.98);
}
.add-transition{
    transition: 0.5s ease;
}


@media (max-width: 1358px){
    .mr-auto {
        margin-left: 250px;
    }
}
@media (max-width: 1238px){
    .mr-auto {
        margin-left: 100px;
    }
    #nav-target{
        padding-left: 150px;
    }
}
@media (max-width: 1200px){
    .mr-auto {
        margin-left: 100px;
    }
    #nav-target{
        padding-left: 120px;
    }
}
@media (max-width: 1150px){
    .mr-auto {
        margin-left: 80px;
    }
    #nav-target{
        padding-left:80px;
    }
}
@media (max-width: 992px){
    #nav-target{
        padding: 0px 10%;
        justify-content: space-between;
    }
    .mr-auto{
        margin: 0 !important;
        width: 100% !important;
        justify-content: center;
        text-align: center;
        
    }
    .mr-auto a{
        color: white !important;
    }
    .navbar-collapse{
        width: 100% !important;
        justify-content: center;
        text-align: center;
        background-color: rgba(95,95,255,0.8);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        
    }
}