.project-section h1{
    font-family: "Special Elite", cursive;
    font-size: 60px;
    padding-left: 70px;
}
.project-section{
    padding: 30px 150px;
    font-family: 'Martel Sans', sans-serif;
    font-size: 18px;
    
}
.project-section .card-title{
    font-weight: 600;
    font-size: 28px;
}
.card{
    max-width: 400px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
}
.card .card-text{
    text-align: justify;
    text-align-last: center;
    font-family: 'Dekko', cursive;
    line-height: 1.7rem;
}
.project-list{
    display: grid;
    grid-template-columns: auto auto auto; 
}
.main-card{
    height: 240px;
}
.button-card{
    height: 80px;
}
.card-img-top {
    height: 250px;
}
.custom-button1 {
    font-family: 'Space Mono', monospace;
    background: #030047;
    color: rgba(255,255,255,0.8);
    font-size: 18px;
}
.custom-button2 {
    font-family: 'Space Mono', monospace;
    background: #5f5fff;
    color: rgba(255,255,255,0.8);
    font-size: 18px;
}
.custom-button1:hover{
    box-shadow: 0 3px 10px rgba(3,0,71,0.8);
    color: white;
}
.custom-button2:hover{
    box-shadow: 0 3px 10px rgb(95,95,255,0.8);
    color: white;
}


@media (max-width: 1375px){
    .project-section{
        padding: 0px 10px;
    }
}
@media (max-width: 1120px){
    .project-list{
        justify-content: space-evenly;
        grid-template-columns: auto auto; 
    }
}
@media (max-width: 715px){
    .project-list{
        grid-template-columns:auto; 
    }
    .project-list .card{
        width: 800px !important;
    }
}

@media (max-width: 409px){
    .project-list .card{
        width: 350px !important;
    }
    .project-section h1{
        font-size: 50px;
        text-align:center;
        padding-left: 0px;
    }
}